<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <!-- META -->
    <title>Pokemon rating</title>
    <meta name="description" content="Pokemon rating">
    <meta name="keywords" content="Pokemon, rating">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/react-star-rating.min.css"/>

</head>
    <div id="app">{{ html|safe }}</div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/vendor.js"></script>
    <script src="/js/vendor.bundle.js"></script>
    <script src="/js/bundle.js"></script>
<body>
</body>
</html>